*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(245, 245, 245);
    font-size: clamp(16px, 1vw, 18px);
    letter-spacing: 0.07rem;
}

@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin big-thin-uppercase($size: 2.5rem, $transformation: uppercase){
    font-size: $size;
    font-weight: 400;
    text-transform: $transformation;
}

main{
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    align-items: center;
    @include flex-column();
    overflow: auto;

    section#view1{
        @include flex-column(1rem);
        max-width: 1920px;
        padding: 1rem;
    
        .top{
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
    
            img{
                width: 100%;
            }
        }
    
        .bottom{
                width: 100%;
                background-color: #292929;
                padding: 2rem;
                border-radius: 1rem;
                @include flex-column(3rem);

                #text-box{
                    @include flex-column(1rem);

                    h1{
                        @include big-thin-uppercase(2.5rem);
                    }

                    #text{
                        color: #808080;
                        font-size: 1.3rem;
                        line-height: 1.5;
                        margin-bottom: 1rem;
                    }

                    #btn-box{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        button{
                            height: 2.5rem;
                            border: 2px solid #808080;
                            border-radius: 100%;
                            background-color: #454545;
                            padding: 0 0.5rem ;

                            i{
                                color: #808080;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    #btn-box:hover{
        
                        button{
                            border-color: #9f9f9f;
                        }
                    }
                }
            }

        .bottom>p{
                    font-size: 1rem;
                    text-transform: uppercase;
                }
    }

    section#view2{
        @include flex-column();
        width: 100%;
        max-width: 1920px;
        padding: 2rem 1rem;

        .top,.bottom{
            width: 100%;
            display: flex;
            justify-content: space-around;

            div{
                padding: 1rem;
                text-align: center;

                small{
                    color: #808080;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1rem;
                }

                h1{
                    @include big-thin-uppercase(2.5rem,none);
                }
            }
        }
    }

    section#view3{
        @include flex-column(1rem);
        max-width: 1920px;
        padding: 1rem;

        .top{
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        .bottom{
            @include flex-column(3rem);
            width: 100%;
            background-color: #292929;
            padding: 2rem;
            border-radius: 1rem;

            .text{
                @include flex-column(1rem);

                h1{
                    @include big-thin-uppercase(2.5rem);
                }

                .paragraphs>p{
                    @include flex-column();
                    font-size: 1rem;
                    color: #808080;
                    line-height: 1.5;
                }
            }
        }

        .bottom>p{
            text-transform: uppercase;
        }
    }

    section#view4{
        @include flex-column(1rem);
        max-width: 1920px;
        padding: 1rem;
        
        .top{
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
            
            img{
                width: 100%;
            }
        }

        .bottom{
            @include flex-column(3rem);
            background-color: #292929;
            padding: 2rem;
            border-radius: 1rem;

            .text{
                @include flex-column(1rem);
                
                h1{
                    @include big-thin-uppercase(2.5rem);
                }

                .paragraphs{

                    p{
                        @include flex-column();
                        font-size: 1rem;
                        color: #808080;
                        line-height: 1.5;
                    }
                }
            }
        }

        .bottom>p{
            text-transform: uppercase;
        }
    }

    section#view5{
        @include flex-column(1rem);
        max-width: 1920px;
        width: 100%;
        padding: 1rem;

        .team-banner{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem;

            .b-box>button{
                font-size: 1.2rem;
                color: #9f9f9f;
                background-color: #454545;
                height: 2.5rem;
                border: 2px solid #808080;
                border-radius: 100%;
                padding: 0 0.5rem ;
            }
            .b-box>button:hover{
                border: 2px solid #afafaf;
            }

            .b-box>h3{
                font-weight: 400;
                text-transform: uppercase
            }
        }

        .team-banner>h1{
            @include big-thin-uppercase(2.5rem);
            font-weight: 400;
            text-transform: uppercase;
        }

        .team-banner>.b-box{
            display: none;
        }

        .cards{
            @include flex-column(1rem);

            .card{
                position: relative;
                border-radius: 1rem;
                overflow: hidden;

                .bg{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

                .title{
                    position: absolute;
                    padding: 1.5rem;
                    inset: 0;
                    @include flex-column();
                    justify-content: space-between;

                    .top{
                        display: flex;
                        justify-content: flex-end;
                        gap: 0.7rem;
                        
                        i{
                            // position: relative;
                            background-color: rgb(59, 59, 59, 0.5);
                            padding: 0.5rem;
                            border: 0.01rem solid rgba(167, 166, 166, 0.5);
                            backdrop-filter: blur(0.1rem) saturate(180%);
                            border-radius: 100%;
                            font-weight: 100;
                            color: #afafaf;
                            transition: transform 0.15s ease-in-out;
                        }

                        i:hover{
                            transform: scale(1.2);
                            border-color: white;
                            color: white;
                        }
                    }

                    .bottom{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba(167, 166, 166, 0.3);
                        backdrop-filter: blur(10px) saturate(180%);
                        padding: 1rem;
                        border: 0.01rem solid rgba(167, 166, 166, 0.5);
                        border-radius: 0.3rem;
                    }

                    .bottom>h1{
                        font-size: 1.4rem;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                    .bottom>div{
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    section#view6{
        @include flex-column(1rem);
        max-width: 1920px;
        width: 100%;
        padding: 0 1rem;

        .top{
            @include flex-column(1rem);
            
            .left{
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;
                
                img{
                    width: 100%;
                }
            }
            
            .right{
                @include flex-column(3rem);
                background-color: #292929;
                padding: 2rem;
                border-radius: 0.7rem;

                .text>p{
                    text-transform: uppercase;
                    color: #afafaf;
                }

                .text>h1{
                    @include big-thin-uppercase(2rem);
                    padding-right: 2rem;
                }

                .b-box{
                    display: flex;
                    gap: 1rem;
                    align-items: baseline;
                }

                .b-box>button{
                    font-size: 1.2rem;
                    color: #9f9f9f;
                    background-color: #454545;
                    height: 2.5rem;
                    border: 2px solid #808080;
                    border-radius: 100%;
                    padding: 0 0.5rem ;
                }
                .b-box>button:hover{
                    border: 2px solid #afafaf;
                }

                .b-box>h3{
                    font-weight: 400;
                    text-transform: uppercase
                }
            }
        }

        .bottom{
            @include flex-column(1rem);
            width: 100%;
            padding: 2rem;
            border-radius: 0.7rem;
            background: rgb(255, 235, 119);
            
            .left>p{
                text-transform: uppercase;
                color: #1d1d1d;
            }

            .left>h1{
                @include big-thin-uppercase(2.5rem);
                font-weight: 400;
                color: #1d1d1d;
            }

            .right>button{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                color: rgb(245, 245, 245);
                background-color: #1d1d1d;
                border: none;
                width: 100%;
                padding: 0.7rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
            }

            .right>button>i{
                font-size: 1.2rem;
            }
        }
    }

    section#footer{
        @include flex-column(1rem);
        max-width: 1920px;
        width: 100%;
        padding: 1rem;

        .top{
            @include flex-column(4rem);
            background-color: #292929;
            border-radius: 0.7rem;
            width: 100%;
            padding: 2rem;
        }

        .top>h3{
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            color: #9f9f9f;
        }

        .i-box{
            display: flex;
            gap: 0.5rem;

        }
        .top>.i-box>i{
            padding: 0.55rem;
            background-color: #3c3c3c;
            border: 0.04rem solid #5b5b5b;
            border-radius: 100%;
        }

        .bottom{
            @include flex-column(1rem);
            
            .up{
                @include flex-column(2rem);
                background-color: #292929;
                border-radius: 0.7rem;
                padding: 2rem;

                .col{
                    @include flex-column(2rem);
                }

                .col>h3{
                    font-size: 1.4rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: rgb(245, 245, 245);
                }

                .col>a{
                    text-decoration: none;
                    color: #808080;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: color 0.15s ease-in-out;
                }

                .col>a:hover{
                    color: rgb(245, 245, 245);
                }

                .col>a>button{
                    padding: 0.9rem 1.2rem;
                    font-weight: 300;
                    border-radius: 0.5rem;
                    text-transform: uppercase;
                    background-color: rgb(255, 235, 119);
                }
                .col>a>button:hover{
                    background-color: rgb(255, 235, 119);
                }
            }

            .down{
                background-color: #292929;
                border-radius: 0.7rem;
                padding: 2rem;
                line-height: 2rem;

                .top-btn{
                    text-align: center;
                }
            }

            .down>p{
                color: #808080;
                text-transform: uppercase;
            }

            .down>p>a{
                color: #afafaf;
            }

            .down>.hi{
                color: rgb(245, 245, 245);
            }

            .down>.top-btn{
                text-transform: uppercase;
            }

            .down>.top-btn>a{
                color: #afafaf;
                text-decoration: none;
                background-color: #5b5b5b;
                border: 0.07rem solid #808080;
                border-radius: 100%;
                padding: 0.3rem 0.4rem;
                transition: color 0.15s ease-in-out;
            }

            .down>.top-btn>a:hover{
                color: rgb(245, 245, 245);
                border: 0.07rem solid rgb(245, 245, 245);
            }
        }

    }
}


// @media (min-width: 767px){
//     main{
        
//         section#view3>.text>.paragraphs{
//             display: flex;
//             gap: 3rem;
//         }

//         section#view4>.text>.paragraphs{
//             display: flex;
//             gap: 3rem;
//         }
//     }
// }

@media (min-width: 991px){
    main{
        
        section#view1{
            flex-direction: row;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 4rem;

                #text-box{

                    h1{
                        font-size: 4rem;
                    }

                    #text{
                        width: 90%;
                    }
                }
            }
        }

        section#view2{
            flex-direction: row;
            gap: 10rem;

            .top,.bottom{
                gap: 10rem;

                div{

                    h1{
                        font-size: 4rem;
                    }
                }
            }
        }

        section#view3{
            flex-direction: row-reverse;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 4rem;

                .text{
                    
                    h1{
                        font-size: 3rem;
                    }

                    .paragraphs{
                        display: flex;
                        gap: 3rem;

                        p{
                            font-size: 1.2rem;
                            width: 50%;
                        }
                    }
                }
            }
        }

        section#view4{
            flex-direction: row;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 4rem;

                .text{

                    h1{
                        font-size: 3rem;
                    }

                    .paragraphs{
                        display: flex;
                        gap: 3rem;

                        p{
                            font-size: 1.2rem;
                            width: 50%;
                        }
                    }
                }
            }
        }

        section#view5{

            .team-banner{

                .b-box{
                    display: flex;
                    gap: 1rem;
                    align-items: baseline;
                }
            }

            .cards{
                flex-direction: row;
            }
        }

        section#view6{
            
            .top{
                flex-direction: row;
                
                .left,.right{
                    justify-content: space-between;
                    width: 50%;
                }
                
                .right{
                    padding: 4rem;
                    gap: 0;
                    
                    .text{
                        @include flex-column(0.7rem);

                        h1{
                            font-size: 3rem;
                        }
                    }
                }
            }
            
            .bottom{
                flex-direction: row;
                align-items: flex-end;

                .left{
                    padding-right: 16rem;
                }

                .left>h1{
                    font-size: 5rem;
                }

                .right{
                    width: 16%;
                }
            }
        }

        section#footer{
            flex-direction: row;

            .top{
                gap: 0;
                justify-content: space-between;
                width: 20%;
            }

            .bottom{
                flex-grow: 1;

                .up{
                    padding: 3rem;
                    flex-direction: row;
                    justify-content: space-between;

                    a{
                        padding-right: 4rem;
                    }
                }
            }
        }
    }
}